<!DOCTYPE html>
<html>
<body>
<h1>Center for Communication and Public Policy<br>
Northwestern University<br>
Github Page</h1>

<p>CCPP organizes and encourages research projects within Northwestern University and other institutions around the world aimed at advancing and informing public policy. Our projects and scholarship primarily fall within four policy-relevant research areas: 

<ul>
<li>Inter-organizational Networks & Advocacy</li>
<li>Misinformation</li>
<li>Networked Democracy </li>
<li>Policy Discourse, Framing, and Opinion </li>
</ul>
  
</p>For more information on our Center see https://polcomm.northwestern.edu/.</p>

</p>For more information on the projects and the codes please contact:</p> 
</p>Ayse D. Lokmanoglu, PhD</p>
</p>ayse [dot] lokmanoglu [at] nortwestern [dot] edu.</p>

</body>
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
</html>
